.manage-flights {
  height: 100vh;
  padding-top: 8rem;
}

.manage-flights h2 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 5rem;
}

.manage-flights .container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  position: relative;
}

.manage-flights .container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.manage-flights .container form div {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.manage-flights .container form div input,
.manage-flights .container form div select {
  width: 50%;
  border: 2px rgb(98, 98, 212) solid;
  padding: 0.2rem;
}

.manage-flights .container form button {
  background-color: darkblue;
  color: white;
  padding: 0.4rem;
}

.flight-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.flight-list li {
  width: 100%;
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.flight-list li button {
  padding: 0 1.5rem;
  color: white;
}

.flight-list li button.blue {
  background-color: darkblue;
}

.flight-list li button.red {
  background-color: red;
}

.home-btn {
  align-self: flex-start;
  width: 10rem;
  padding: 0.4rem;
  background-color: rgb(123, 123, 203);
  color: white;
}
